* {
  box-sizing: border-box;
}
.th1 {
  background-image: url(/images/image1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
}
.text1 {
  color: white;
  text-decoration: none;
  text-overflow: clip;
}
.text1:hover {
  color: rgb(241, 159, 81);
}
.search1 {
  width: 60px;
  height: 60px;
  padding-top: 15px;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 100%;
  text-decoration: none;
  text-overflow: clip;
}
.search1:hover {
  color: rgb(241, 159, 81);
}
.blok {
  background-color: rgba(226, 217, 200, 1);
}
.blok:hover {
  background-color: rgb(129, 125, 115);
}
body {
  background-color: rgb(228, 213, 193);
}

.br1 {
  background-color: rgb(228, 213, 193);
  border-radius: 10px;
}
.br1:hover {
  background-color: #fff;
}
.clr1 {
  background-color: rgb(228, 213, 193);
  border-radius: 15px;
}
.inp1 {
  background-color: rgb(228, 213, 193);
  width: 90%;
  border: none;
  outline: none;
}
